.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 5rem 0;
}
.pagination button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button.active {
  background-color: var(--detail-purple);
  color: white;
  border: none;
}
.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rating .icons {
  font-size: 0.7rem;
  margin-right: 2px;
  color: #e6ef3f;
}
